{
	"datahost_usrdb_host" : "usrdb.example.org",
	"datahost_usrdb_usr" : "test",
	"datahost_usrdb_pwd" : "password",

	"datahost_funcdb_host" : "funcdb.example.org",
	"datahost_funcdb_usr" : "test",
	"datahost_funcdb_pwd" : "password",

	"datahost_usrdb_dbname" : "db_core_user",
	"datahost_funcdb_dbname" : "db_core_func"
}