{
	"is_user_regist" : true,

	"max_user_allowed" : 10000,
	"max_user_online" : 1000,

	"login_user_max_attempts" : 10,
	"login_user_max_timeout" : 15,
	"login_user_max_policy" : "reject",

	"max_user_name_length" : 50,
	"min_user_name_length" : 10,
	"max_user_pwd_length" : 50,
	"min_user_pwd_length" : 10,
	"regexp_user_name" : "*",
	"regexp_user_pwd" : "*",

	"online_user_timeout" : 15,
	"online_user_max_policy" : "reject",

	"hibernate_user_timeout" : 365,
	"hibernate_user_policy" : "reject"
}