{
	"datahost_usrdb_host" : "usrdb.example.org",
	"datahost_usrdb_usr" : "test",
	"datahost_usrdb_pwd" : "password",

	"datahost_funcdb_host" : "funcdb.example.org",
	"datahost_funcdb_usr" : "test",
	"datahost_funcdb_pwd" : "password",

	"datahost_usrdb_dbname" : "db_core_user",
	"datahost_funcdb_dbname" : "db_core_func",

	"backup_auto_enabled" : false,
	"backup_auto_interval" : 7,
	"backup_auto_host" : "autoback.example.org",
	"backup_auto_usr" : "test",
	"backup_auto_pwd" : "password",
	"backup_auto_trigger_id" : [],
	"backup_auto_dbs" : [],

	"backup_host" : "backup.example.org",
	"backup_usr" : "test",
	"backup_pwd" : "password",
	"backup_dbs" : []
}