[file_store_config]

filestore_dir = "/static"
filestore_rename_enabled = false
filestore_rename_prefix = "file_"
filestore_oversize_compress = false
filestore_oversize_backup = ""
filestore_oversize_size = 0

[filemeta_config]

filemeta_mode = "json"
filemeta_field_originalname = false
filemeta_field_size = true
filemeta_field_keywords = false
filemeta_field_keywordnum = 0

[config_loading_config]

config_mode = "array"
config_write_validate = false
config_write_override = false