{
	"upload_enabled" : true,
	"upload_predefined_enabled" : false,
	"upload_custom_enabled" : true,

	"config_load_enabled" : true,
	"config_load_exception" : ["configuration/config-file.config"],
	"config_load_autorefresh" : true,
	"config_load_autorefresh_time" : 15,

	"file_cache_enabled" : true,
	"file_cache_types" : ["*.jpg", "*.png", "*.gif", "*.bmp"],
	"file_cache_refresh" : 60,
	"file_cache_meta_mode" : "database",
	"file_cache_meta_dir" : "",
	"file_cache_meta_db" : "db_core_file",

	"cloud_cache_enabled" : false,
	"cloud_cache_types" : [],
	"cloud_cache_size_min" : 0,
	"cloud_cache_size_max" : 0,
	"cloud_cache_service" : ""
}